@import "../../breakpoint.scss";
.list-card {
  margin-top: 20px;
  &__title {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    @include mobile {
      font-size: 16px;
    }
  }

  &__group {
    display: flex;
    flex-direction: row;
  }
  .swiper {
    overflow: inherit;
  }
  .swiper-pagination-bullet {
    display: none;
  }
  .swiper-button-next {
    font-size: 10px;
  }
}
