@import "../../breakpoint.scss";
.media-control {
  position: fixed;
  bottom: 0;
  background-color: var(--media-control-bg);
  z-index: 300;
  display: flex;

  width: 100%;
  box-shadow: 0px -0.2px 5px 0px rgba(0, 0, 0, 0.75);
  height: 90px;

  @include mobile-tablet {
    height: 60px;
  }
  &__content {
    position: relative;
    display: flex;
    padding-left: 220px;
    justify-content: space-between;
    width: 100%;

    @include mobile-tablet {
      padding-left: 0;
    }
    &__info {
      display: flex;
      padding: 10px 0;
      align-items: center;
      &__img {
        box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.75);
        width: 70px;
        height: 70px;
        border-radius: 10px;
        object-fit: cover;
        @include mobile-tablet {
          width: 40px;
          height: 40px;
          margin-left: 10px;
        }
      }

      &__title {
        padding-left: 20px;

        &__song {
          font-weight: 600;
          @include mobile {
            font-size: 13px;
          }
        }
        &__artist {
          padding-top: 5px;
          font-size: 14px;
          @include mobile {
            font-size: 10px;
          }
        }
      }
    }
    &__control {
      padding-top: 10px;

      &__icon {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          color: var(--grey);
          @include mobile {
            display: none;
          }
        }
        @include tablet-desktop {
          &__mobile-setting {
            display: none;
          }
        }
        @include mobile {
          justify-content: end;
          padding-right: 20px;
          &__mobile-play,
          &__mobile-setting {
            display: block !important;
          }
        }
      }
      &__timeline {
        display: flex;
        align-items: center;
        justify-content: center;
        .timeline-wrapper {
          margin: 0 15px;
          width: 300px;

          background-color: var(--grey);
          height: 4px;
          border-radius: 100px;
          @include tablet {
            width: 250px;
            height: 3px;
          }
          @include mobile {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            margin: 0;
          }
          &__running-line {
            margin: 0;
            background-color: var(--blue);
            width: 30px;
          }
        }
        @include mobile {
          .total-time {
            display: none;
          }
          .current-time {
            display: none;
          }
        }
      }
    }
    &__settings {
      display: flex;
      align-items: center;
      @include mobile {
        display: none;
      }
      svg {
        font-size: 22px;
        color: var(--grey);
        padding-right: 10px;
      }
      .volume-wrapper {
        margin-right: 10px;
        width: 50px;
        background-color: var(--grey);
        height: 2px;
        border-radius: 100px;
        &__running-line {
          width: 24px;
          background-color: var(--blue);
          height: 2px;
          border-radius: 100px;
        }
      }
    }
  }
}
