.top-bar {
  height: 45px;
  width: 100%;
  background-color: var(--main-bg);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;

  &__search-box {
    background-color: #fff;
    height: 30px;
    width: 400px;
    border-radius: 20px;

    &__icon {
      font-size: 2rem;
    }
  }
}
