.top-bar {
  height: 45px;

  position: fixed;

  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: inherit;
  width: 100%;
  background-color: var(--main-bg);
  &__content {
    display: flex;

    width: 100%;
    padding-right: 50px;
  }
  &__navigate {
    padding-top: 5px;
  }
  &__align_left {
    padding-left: 250px;

    display: flex;
    align-items: center;
  }
  &__search-box {
    position: relative;
    padding-left: 20px;
    input {
      background-color: #fff;
      height: 30px;
      width: 300px;
      border-radius: 12px;
      padding-left: 40px;
      border: none;
      box-shadow: 8px 8px 27px -12px rgba(0, 0, 0, 0.75);
      outline: none;
    }

    &__icon {
      position: absolute;
      left: 30px;
      top: 5px;
      font-size: 20px;
      color: var(--grey);
    }
  }
  &__setting {
    display: flex;
    margin-left: auto;
    align-items: center;
    &__wrapper {
      background-color: white;
      width: 25px;
      height: 25px;
      margin-right: 10px;
      border-radius: 50%;
      box-shadow: 8px 8px 27px -12px rgba(0, 0, 0, 0.75);
      padding: 5px;
      &__icon {
        margin: auto;
        display: block;
        height: 100%;
        font-size: 20px;
        color: var(--grey);
      }
    }
  }
}
