.card {
  width: 238px;
  height: 311px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: var(--menu-bg);


  &__img {
    width: 200px;
    height: 200px;
  }

  &__song {
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--font-black);
  }

  &__artist {
    color: var(--font-gray);
  }
}
