.menu {
  left: 0px;
  top: 0px;
  position: sticky;

  &__title {
    font-family: "Comfortaa", cursive;
    color: var(--blue);
  }
  &__title {
    font-family: "Comfortaa", cursive;
    color: var(--blue);
  }

  &__list {
    display: flex;
    flex-direction: column;
  }
}
#dark {
  .test {
    color: red;
  }
}
#light {
  .test {
    color: blue;
  }
}
