.menu {
    background-color: #fff;

    width: 300px;
    height: 50vh;
    left: 0px;
    top: 0px;

    &__title {
        font-family: "Comfortaa", cursive;
        color: var(--font-blue);
    }
}
#dark {
    .test {
        color: red;
    }
}
#light {
    .test {
        color: blue;
    }
}
