.menu {
  background-color: var(--menu-bg);
  width: 300px;
  height: 100vh;

  &__title {
    font-family: "Comfortaa", cursive;
    color: var(--font-blue);
  }

  &__list {
    display: flex;
    flex-direction: column;
  }
}
