.app {
  display: flex;
  position: relative;

  &__container {
    padding-bottom: 100px;
    padding-left: 20px;
    background-color: var(--main-bg);
    display: flex;
    flex-direction: column;
  }
  &__flex_scrollable {
    width: 100%;
    overflow: auto;
    display: flex;
    background-color: var(--main-bg);
    position: relative;
    padding-top: 50px;
  }
  .no-bg {
    background: none;
    border: none;
  }
}
