@import "./breakpoint.scss";
.app {
  display: flex;
  position: relative;

  &__container {
    padding-bottom: 100px;
    padding-left: 20px;
    background-color: var(--main-bg);
    display: flex;
    flex-direction: column;
    width: 100%;
    @include mobile {
      padding-left: 5px;
    }
  }
  &__flex_scrollable {
    width: 100%;
    overflow: auto;
    display: flex;
    background-color: var(--main-bg);
    position: relative;
    padding-top: 50px;
  }
  .no-bg {
    background: none;
    border: none;
  }
  .mobile {
    @include tablet-desktop {
      display: none;
    }
  }

  .desktop {
    @include mobile-tablet {
      display: none;
    }
  }
  .tablet {
    @include mobile {
      display: none;
    }
    @include desktop {
      display: none;
    }
  }
  .tablet-desktop {
    @include mobile {
      display: none;
    }
  }
  .mobile-table {
    @include mobile {
      display: none;
    }
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}
@include mobile {
  .col-m-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-m-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-m-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-m-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-m-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-m-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-m-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-m-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-m-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-m-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-m-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-m-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-m-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
@include tablet {
  .col-t-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-t-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-t-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-t-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-t-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-t-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-t-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-t-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-t-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-t-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-t-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-t-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-t-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
.container,
.container-t,
.container-m {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
