.app {
  display: flex;
  position: relative;
  padding-bottom: 100px;
  &__container {
    background-color: var(--main-bg);
    display: flex;
    flex-direction: column;
  }
  &__flex_scrollable {
    width: 100%;
    overflow: auto;
    display: flex;
  }
}
