@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;600;700&display=swap");

:root {
  --blue: #3b75ff;
  --grey: #454545;
  --black: #000000;
  --menu-bg: #ffffff;
  --main-bg: #f0f2f9;
  --media-control-bg: #f9f9f9;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Be Vietnam Pro", sans-serif;
}
