@import "../../breakpoint.scss";
.horizontal-item {
  position: relative;
  margin-bottom: 10px;
  margin-left: 10px;
  @include mobile {
    margin-left: 0;
  }

  @include tablet-desktop {
    &:hover &__play-btn {
      display: block;
    }
  }
  &:hover &__icon {
    visibility: visible;
  }

  &__play-btn {
    color: var(--grey);
    display: none;
    position: absolute;
    left: -8px;
    top: 8px;
    font-size: 35px;
  }
  &__container {
    align-items: center;
  }
  &__index {
    @include mobile {
      display: none;
    }
    width: 30px;
  }
  &__duration {
    margin-left: auto;
    margin-right: 20px;
  }
  &__image {
    margin-right: 10px;
    width: 50px;
    height: 50px;
  }
  &__title {
    width: 40%;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  &__artist {
    @include mobile {
      margin-left: 5px;
      width: 30%;
    }
    width: 100px;
    font-size: 14px;
    font-weight: 300;
    color: var(--grey);
  }
  &__duration {
    @include mobile {
      display: none;
    }
    font-size: 14px;
    font-weight: 300;
    color: var(--grey);
  }
  &__icon {
    margin-left: 10px;
    visibility: hidden;
    cursor: pointer;
  }
  &__settings {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
  }
}
